html, body {
    height: 100%;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-image: linear-gradient(to bottom right, #FBD5F4, #FEFFF3);
    background-repeat: no-repeat;
    background-size: contain;
}

h1{
    font-size: large;
}

#cardImg {

}

#submitButton {
    font-family: 'Source Sans Pro', sans-serif;
}

#cardNumber {
    font-family: 'Source Sans Pro', sans-serif;
}