html, body {
    height: 100%;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-image: linear-gradient(to bottom right, #FBD5F4, #FEFFF3);
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
}

h1{
    font-size: large;
}

.cardImg {
    text-align: center;
}

.inputTarjeta {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    
    text-align: center;
    padding: 5px 5px;
}

